header {
    background-color: var(--family-white);
    height: 10vh;
    box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

header img {
    width: 170px;
}

header .flex li {
    margin-left: 30px;
    transition: 0.5s;
    font-weight: 500;
    cursor: pointer;
}

header .flex li:hover {
    color: var(--family-color);
}
header span {
    width: auto;
    padding: 0 6px;
    background-color: var(--family-color);
    border-radius: 50px;
    color: var(--family-white);
    margin-right: 4px;
    font-weight: 400;
}
header h4 {
    font-weight: 500;
    margin-right: 20px;
}
header .toggle {
    display: none;

}

@media screen and (max-width: 768px) {
    header {
        padding: 0;
    }

    header img {
        margin-top: 30px;
    }

    header .button {
        display: none;
    }

    header .nav .flex {
        display: none;
    }

    header .toggle {
        display: block;
        margin-top: 20px;
    }

    header .small {
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        background-color: var(--family-color);
        padding: 20px;
    }
    header li .nav__header {
        display: inline-block;
        margin-bottom: 20px;
        color: #fff;
    }
}